<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCycNiTjSv7H7UcqfiNacQW7Ex5oULKYtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>900340458671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskhub</string>
	<key>PROJECT_ID</key>
	<string>taskhub-4184a</string>
	<key>STORAGE_BUCKET</key>
	<string>taskhub-4184a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900340458671:ios:e682f437ace5a7703c605a</string>
</dict>
</plist>